body {
    background-color: #F8DFE2;
    padding-top: 70px;
}

.header-container {
    background-color: #2E3A37;
    color: #CFB06D;
}

.nav-item {
    background-color: #5E6F57;
    margin: 2px;
    border-radius: 10px; 
}

.nav-link, .nav-link.btn { 
    color: #CFB06D; 
    text-decoration: none; 
}

.nav-link:hover, .nav-link.btn:hover {
    background-color: #9D9064; 
    color: #F8DFE2; 
}
.btn-accent {
    background-color: #5E6F57; 
    color: #F8DFE2; 
}
.btn-alternate {
    background-color: #9D9064; 
    color: #F8DFE2;
}

.hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/fondo.jpg') no-repeat center center;
    background-size: cover;
    color: #F8DFE2;
    padding: 150px 0; 
    min-height: 500px;
}

.my-separator {
    border-top: 4px solid #2E3A37;
    width: 90%; 
    margin: 20px auto; 
}

.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover; 
}
.custom-rounded {
    border-radius: 20px; 
}

.custom-shadow {
    box-shadow: 5px 9px 8px rgba(0, 0, 0, 0.3);
}

.fixed-size-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero-bg {
        padding: 100px 0; 
    }
    body {
        padding-top: 50px;
    }
}